.container {
  margin: auto;
  max-width: 80%;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}

.nav-link-item > a {
  text-decoration: none;
}

.nav-link-item > a:hover {
  color: rgb(112, 1, 176);
}

.nav-link-text {
  color: black;
}