.container {
  width: 90%;
  min-width: 600px;
  display: flex;
  margin: auto;
  margin-left: 0;
}

.sidebar {
  position: sticky;
  top: 50px;
  width: 20%;
  min-width: 200px;
  background-color: rgba(255, 240, 240, 0.214);
  padding: 0;
  height: 40%;
  text-align: center;
  line-height: 1.25;
  border-right: 3px solid rgb(255, 138, 138);
}

.content {
  position: relative;
  width: 80%;
  min-height: 100%;
  margin-top: 0;
  padding: 25px 0px;
  flex: 1;
  box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.2);
}

.site-title {
  font-size: 2.4rem;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-top: 2rem;
}

.heading {
  font-size: 2.5rem;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(255, 0, 0);
}

.nav-links {
  display: block;
  list-style: none;
  margin-top: 4rem;
  padding: 0;
}

.nav-link-item {
  padding-right: 2rem;
  display: block;
  text-align: center;
}

.nav-link-item>a {
  text-decoration: none;
}

.nav-link-item>a:hover {
  color: rgb(162, 162, 162);
}

.nav-link-text {
  color: black;
}

.img {
  width: 550px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}